.chips {
  display: flex;
  flex-wrap: wrap;
  div {
    border: 1px solid white;
    margin: 4px;
    padding: 10px;
    // background-color: #dbfffe;
    background-color: white;
  }
}
fieldset {
  margin-top: 24px;
  margin-bottom: 24px;
}
