.chips {
  display: flex;
  flex-wrap: wrap;

  div {
    margin: 4px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid;
    background-color: white;
  }
}
fieldset {
  margin-top: 24px;
  margin-bottom: 24px;
}
