$small: 300px;
$medium: 900px;
.home {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-bottom: 50px;
  margin-top: 25px;
  &--content {
    width: 90%;
    @media (min-width: $medium) {
      width: 50%;
      margin-bottom: 100px;
    }
    &__title {
      font-size: 2.5rem;
      line-height: 1.2;
      &__frontend {
        color: #66a9ff;
      }
    }
  }
  &--photo {
    background-image: url("../../assets/devan.png");
    width: 12rem;
    height: 12rem;
    margin-left: 2rem;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    @media (min-width: $medium) {
      width: 15rem;
      height: 15rem;
    }
  }
  .button-55 {
    margin: 2px;
  }
}
.social-icons {
  border: 1px solid #000;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition-duration: 0.3s;
  box-shadow: 2px 2px #000;
  font-size: larger;
}
.download-cv {
  background: #d7e8fa;
}
