<div class="profile-header">
  <div class="profile-header--hello">
    <div class="profile-header--hello__title">
      I'm Devan Madlani Frontend developer
    </div>
    <p>
      I am self motivated Front end developer, Looking for new challenges, able
      to work well under pressure and adhere to the strict deadlines
    </p>
    <button class="button-55" role="button">Download CV</button>
    <button class="button-55 social-icons" role="button">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </button>
    <button class="button-55 social-icons" role="button">
      <fa-icon [icon]="faGithub"></fa-icon>
    </button>
    <button class="button-55 social-icons" role="button">
      <fa-icon [icon]="faFacebook"></fa-icon>
    </button>
    <button class="button-55 social-icons" role="button">
      <fa-icon [icon]="faInstagram"></fa-icon>
    </button>
    <!-- <a
      color="primary"
      mat-raised-button
      href="../../assets/Devan's-Resume.pdf"
      target="_blank"
      >Download CV</a
    > -->
  </div>
  <div class="profile-header__photo"></div>
</div>
