<div class="home">
  <div class="home--content">
    <div class="home--content--hello">Hello,</div>
    <div class="home--content__title">
      I'm Devan Madlani a
      <div class="home--content__title__frontend">Frontend Developer</div>
    </div>
    <p>
      More than 8 years of experience building high-quality web applications.
    </p>
    <p><fa-icon [icon]="faLocation"></fa-icon> Amsterdam, Netherlands</p>
    <a
      class="button-55 download-cv"
      href="./assets/Devan-Resume.pdf"
      target="_blank"
      >Download CV</a
    >
    <a
      class="button-55 social-icons"
      target="_blank"
      href="https://www.linkedin.com/in/devan-madlani"
      role="button"
    >
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </a>
    <a
      class="button-55 social-icons"
      target="_blank"
      href="https://github.com/devanmadlani"
      role="button"
    >
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>

    <a
      class="button-55 social-icons"
      target="_blank"
      href="https://www.facebook.com/devan.madlani/"
      role="button"
    >
      <fa-icon [icon]="faFacebook"></fa-icon>
    </a>
    <a
      class="button-55 social-icons"
      target="_blank"
      href="https://www.instagram.com/devan.madlani/"
      role="button"
    >
      <fa-icon [icon]="faInstagram"></fa-icon>
    </a>
    <!-- <a
      color="primary"
      mat-raised-button
      href="../../assets/Devan's-Resume.pdf"
      target="_blank"
      >Download CV</a
    > -->
  </div>
  <div class="home--photo"></div>
</div>
<app-work></app-work>
