<div class="timeline">
  <div class="container right">
    <div class="content">
      <div class="work-title">Linx IT Solutions</div>
      <div>Frontend Developer</div>
      <small>09/2021 - present</small>
    </div>
  </div>

  <div class="container right">
    <div class="content">
      <div class="work-title">Tata Consultancy Services</div>
      <div>Frontend Developer</div>
      <small>09/2021 - present</small>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <div class="work-title">KLM</div>
      <div>Frontend Developer</div>
      <small>09/2021 - present</small>
    </div>
  </div>
</div>
