<div class="timeline">
  <div class="container right">
    <div class="content">
      <div class="work-title">Linx IT Solutions</div>
      <div>Frontend Developer</div>
      <div><small>Amsterdam, Netherlands</small></div>
      <small>09/2021 - present</small>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <div class="work-title">KLM</div>
      <div>Frontend Developer</div>
      <div><small>Amsterdam, Netherlands</small></div>
      <small>04/2018 - 09/2021</small>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <div class="work-title">Tata Consultancy Services</div>
      <div>Frontend Developer</div>
      <div><small>Chennai, India</small></div>
      <small>06/2015 - 09/2021</small>
    </div>
  </div>
</div>
