<div class="content">
  <div class="content__header">
    <button
      class="button-55"
      role="button"
      [routerLink]="['./']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </button>
    <button
      class="button-55"
      role="button"
      [routerLink]="['work']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Work
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
