$small: 300px;
$medium: 900px;
.content {
  margin: 0px 20px 20px 20px;
  min-height: 700px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border: 1px solid;

  @media (min-width: $medium) {
    margin: 0px auto;
    margin-top: 50px;
    width: 60%;
  }

  &__header {
    display: flex;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 130px 257px;
    border: 1px solid;
    justify-content: flex-end;
    background: aliceblue;
  }
}
.active {
  background: aliceblue;
}
